body {
    background-color: black;
    color: white;
}
main {
    min-height: 100vh;
    background-color: black;
    display: flex; 
    justify-content: center; 
    padding-top: var(--header-height);
}

.main-header--container > ul {
    display: flex;
    font-size: 1.8rem;
    gap: 2rem;
}

.main-header--container > ul > li:hover {
    transform: scale(1.01) translateY(-10px);
    transition: transform 0.3s ease;
}

.main-header--container > ul > li:nth-child(4) {
    color: var(--green);
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    background-color: black;
    z-index: 10;
}

.main-header--container {
    width: min(100%, 1200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

#grid-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, auto);
    gap: 20px;
    padding: 20px;
    margin-top: calc(var(--header-height) + 20px);
}

.grid-item {
    background-color: #333333;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.grid-item:hover{
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

.grid-item:hover .img-container img{
    transition: transform 0.3s ease;
    transform: scale(1.2);
}


.main-title {
    display: flex;
    align-items: center;
}

.img-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.img-container img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2em;
    padding-bottom: 10px;
}

.badge {
    background-color: #FF4500;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 1.5em;
    margin-top: 5px;
}

.description {
    font-size: 1.8em;
    text-align: left;
    margin-top: 10px; 
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 15px;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.hamburger-icon > input[type="checkbox"] {
    display: none;
}


.hamburger-icon > div {
    height: 2px;
    background-color: #777;
    transition: 0.3s;
}

.hamburger-icon:hover > div:nth-of-type(1) {
    margin-right: auto;
    width: 10px;
}

.hamburger-icon:hover > div:nth-of-type(3) {
    margin-left: auto;
    width: 10px;
}

/* footer CSS */
footer {
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: auto; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100%, 1200px);
    height: min(100%, 200px);
    padding: 0 40px;
}

.footer-content .socials {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer-content .socials div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-content .links {
    display: flex;
    gap: 20px;
    font-size: 2rem;
}

.footer-content .links a {
    color: white;
    text-decoration: none;
}

.footer-bottom {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    text-align: center;
    background-color: #292929;
    padding-top: 20px;
}

.socials > div:hover {
    transform: scale(1.01) translateY(-5px);
    transition: transform 0.3s ease;
}

.links > a:hover {
    transform: scale(1.01) translateY(-5px);
    transition: transform 0.3s ease;
}

/* 화면 크기가 1200px 미만일 때 2열 */
@media screen and (max-width: 1200px) {
    #grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 화면 크기가 800px 미만일 때 1열 */
@media screen and (max-width: 800px) {
    #grid-container {
        grid-template-columns: 1fr; 
    }
}

/* 화면 크기가 768px 미만일 때 hamburger메뉴 띄우기(기존코드와 동일)*/
@media screen and (max-width: 768px) {
    .main-header--container > ul {
      display: none;
    }
    .sidebar {
        width: 300px;
        height: calc(100vh - var(--header-height));
        background-color: var(--gray);
        position: fixed;
        right: -300px;
        top: var(--header-height);
        transition: 0.3s;
      }
      #hamburger-icon > input[type="checkbox"]:checked ~ .sidebar {
        right: 0;
      }
    }
    @media screen and (min-width: 769px) {
      #hamburger-icon {
        display: none;
      }
    }

@media screen and (max-width: 700px) {
    .links > a{display: none;}
    .footer-content{
        flex-direction: column;
        padding: 60px;
    }
    footer{
        margin-top: 20px;
        height: auto;
    }
}